.conteiner-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: orange;
    padding: 10 px;
    column-gap: 5px;
}

.conteiner-grid > div{
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}